#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define RAHUL 0
#define NAV 1
#define SYM 2
#define NUM 3
#define MED 4
#define FUN 5

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };
&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    combos {
        compatible = "zmk,combos";

        COMBO(leftpar, &kp LEFT_PARENTHESIS, 3 4)
        COMBO(rightpar, &kp RIGHT_PARENTHESIS, 7 8)
        COMBO(leftbrace, &kp LEFT_BRACE, 15 16)
        COMBO(rightbrace, &kp RIGHT_BRACE, 19 20)
        COMBO(leftbracket, &kp LEFT_BRACKET, 27 28)
        COMBO(rightbracket, &kp RIGHT_BRACKET, 31 32)
        COMBO(capsword, &caps_word, 12 23)
    };


    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>; 
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "RAHUL";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp ESC       &hm LGUI A    &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G             &kp H         &hm LSHFT J   &hm RCTRL K   &hm LALT L   &hm RGUI SEMI  &kp SQT
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &none
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                         &mo MED     &kp DEL      &lt NAV SPACE      &lt SYM RET   &mo NUM       &mo FUN
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none         &none         &trans        &trans        &trans        &trans            &trans        &kp HOME      &kp UP        &kp END       &trans        &none
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT      &trans           &trans        &kp LEFT      &kp DOWN      &kp RIGHT     &trans        &none 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &trans        &trans        &trans        &kp LC(LEFT) &kp LC(RIGHT)      &trans        &kp PG_DN     &kp PG_UP     &trans        &trans        &none
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans        &trans            &trans        &trans        &none
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none         &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC          &trans        &trans        &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &none         &kp DLLR      &kp PRCNT     &kp CARET     &kp PLUS          &trans        &trans        &none         &none         &none         &none 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE          &trans        &trans        &none         &none         &none         &none
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &kp LPAR      &kp RPAR      &kp UNDER         &trans        &trans        &none
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT          &none         &none         &none         &none         &none         &none       
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &none         &kp N4        &kp N5        &kp N6        &kp EQUAL         &none         &none         &none         &none         &none         &none
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH          &none         &none         &none         &none         &none         &none
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &none         &kp N0        &kp MINUS         &none         &none         &none
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        media_layer {
          label = "MED";
          bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp C_MUTE    &trans        &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp C_VOL_UP  &kp C_BRI_UP  &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &bt BT_CLR    &trans        &trans        &trans        &trans        &trans            &kp C_VOL_DN  &kp C_BRI_DN  &trans        &trans        &trans        &trans 
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans	       &trans            &kp C_PREV    &kp C_PP      &kp C_NEXT   
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none         &kp F12        &kp F7        &kp F8        &kp F9        &none            &none         &none         &none         &none         &none         &none       
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &kp F11        &kp F4        &kp F5        &kp F6        &none            &none         &none         &none         &none         &none         &none
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &none         &kp F10        &kp F1        &kp F2        &kp F3        &none            &none         &none         &none         &none         &none         &none
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                        &none         &none         &none            &none         &none         &trans
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
